In [1]:
import requests
import pandas as pd
import time

In [2]:
people = []
for i in range(1, 100):
    tmp = requests.get('https://swapi.dev/api/people/'+str(i)).json()
    time.sleep(0.5)
    if "detail" in tmp:
        continue
    people.append(tmp)
    if i % 10 == 0:
        print("Finish Scraping", i, "people")

Finish Scraping 10 people
Finish Scraping 20 people
Finish Scraping 30 people
Finish Scraping 40 people
Finish Scraping 50 people
Finish Scraping 60 people
Finish Scraping 70 people
Finish Scraping 80 people

In [3]:
People = pd.DataFrame(people)
People_ = People[People["birth_year"]!="unknown"].reset_index(drop=True)

In [4]:
People_["AB"] = People_["birth_year"].str[-3:]
People_["year"] = People_["birth_year"].str[:-3].astype(float)

In [5]:
People_["AB"].unique()

array(['BBY'], dtype=object)

In [6]:
People_.loc[People_["year"].argmax(), "name"]

'Yoda'

In [7]:
Oldest = pd.DataFrame(People_.loc[People_["year"].argmax(), "films"], columns=["url"])
Oldest

                             url
0  http://swapi.dev/api/films/2/
1  http://swapi.dev/api/films/3/
2  http://swapi.dev/api/films/4/
3  http://swapi.dev/api/films/5/
4  http://swapi.dev/api/films/6/

In [8]:
films = []
for i in range(1, 10):
    tmp = requests.get('https://swapi.dev/api/films/'+str(i)).json()
    time.sleep(0.5)
    if "detail" in tmp:
        continue
    films.append(tmp)

In [9]:
Films = pd.DataFrame(films).loc[:, ["title", "url"]]
Films

                     title                            url
0               A New Hope  http://swapi.dev/api/films/1/
1  The Empire Strikes Back  http://swapi.dev/api/films/2/
2       Return of the Jedi  http://swapi.dev/api/films/3/
3       The Phantom Menace  http://swapi.dev/api/films/4/
4     Attack of the Clones  http://swapi.dev/api/films/5/
5      Revenge of the Sith  http://swapi.dev/api/films/6/

In [10]:
pd.merge(Oldest, Films, on="url", how="left")["title"]

0    The Empire Strikes Back
1         Return of the Jedi
2         The Phantom Menace
3       Attack of the Clones
4        Revenge of the Sith
Name: title, dtype: object